.logo {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: flex-end;
}

.ipi {
    font-size: 24px;
    align-content: baseline;
    margin-top: 0;
    color: rgb(0, 0, 0); 
    text-decoration: none; 
    display: inline-block; 
    padding-bottom: 1px; 
    margin-bottom: 0; 
    background-image: linear-gradient(to right, rgb(84, 168, 242) 20%, rgb(113, 112, 112) 20%); 
    background-repeat: no-repeat; 
    background-position: bottom; 
    background-size: 100% 3px; 
}

.h1 {
    color: rgb(84, 168, 242);
    font-size: xx-large;
    margin-bottom: 0;
}

.jaipur {
    color: black;
    font-size: small;
    margin-top: 0;
}

.h1-2 {
    margin-top: 0;

    color: rgb(84, 168, 242); 
    text-decoration: none; 
    display: inline-block; 
    padding-bottom: 2px; 
    margin-bottom: 0; 
    background-image: linear-gradient(to right, rgb(84, 168, 242) 20%, rgb(113, 112, 112) 20%); 
    background-repeat: no-repeat; 
    background-position: bottom; 
    background-size: 100% 3px; 
  }
  
.bbo{
    font-family:'Times New Roman', Times, serif;
    font-size:large;
    color: rgb(107, 107, 110);
}
.str{
    color: black;
}
.cof{
    width: 38%;
    height: auto;
    display: flex;
    justify-content: flex-start;
}
.msme{
    width: 44%;
    height: auto;
    display: flex;
    justify-content: flex-end;
}

a {
    color: rgb(84, 168, 242);
    text-decoration: none;
  }
  
a:hover {
    text-decoration: underline;
    color: rgb(238, 0, 255);
  }
  
table.outer-border {
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

.dear{
    font-size: larger;
}
